[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "*"
python-dotenv = "*"
pyqt5 = "*"
playsound = "*"
serial = "*"

[dev-packages]

[requires]
python_version = "3.9"
